.book-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Сетка с адаптивными колонками */
  gap: 16px; /* Расстояние между элементами */
  padding: 16px;
  width: 100%;
}

.book-item {
  background-color: #f9f9f9;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  /* Ограничение высоты */
  height: 200px; /* Задаем фиксированную высоту */
  overflow: hidden; /* Скрываем содержимое, если оно превышает высоту */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-item:hover {
  transform: scale(1.05); /* Легкое увеличение на ховер */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 0;
}

.book-name-button {
  font-size: inherit; /* Унаследовать размер шрифта от .book-name */
  font-weight: inherit; /* Унаследовать толщину шрифта от .book-name */
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.book-name-button:hover {
  text-decoration: underline;
}
